.card {
    background-color: var(--card-bg, #eee);
    border: 1px solid var(--border-basic, #000);
    border-radius: 4px;
    padding: 16px;
    margin: 16px 0;
	max-width: 300px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
}