:root {
    --card-bg: #eee;
    --border-basic: #000;

	--paginator-gap: 8px;
    --paginator-margin-top: 16px;

    --page-button-padding: 8px 12px;
    --page-button-border-color: #ccc;
    --page-button-bg: #fff;
    --page-button-bg-hover: #f0f0f0;

    --active-bg: #007bff;
    --active-text-color: #fff;
    --active-border-color: #007bff;
}


body {
    word-break: break-word;
}